

<div class="main-content">
        <div class="container-fluid">
            <hr>
            <div class="row">
                
                <div class="col-md-12">
                    <button mat-raised-button type="button" class="btn btn-danger pull-right" [routerLink]="['/add-user']">Add User</button>
                    </div>
               
                </div>
           
        </div>    
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">User List</h4>
                            <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-hover">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            UserName
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Contact Number
                                        </th>
                                        <th>
                                            Website
                                        </th>
                                        <th>
                                            Company
                                        </th>
                                       
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td>
                                               {{user.id}}
                                            </td>
                                            <td>
                                                {{user.name}}
                                            </td>
                                            <td>
                                                {{user.username}}
                                            </td>
                                            <td>
                                                {{user.email}}
                                            </td>
                                            <td>
                                                {{user.phone}}
                                            </td>
                                            <td>
                                                {{user.website}}
                                            </td>
                                            <td>
                                                {{user.company.name}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      
   
  </div>
  